<service>
  <id>GeoForgeTerminalBroker</id>
  <name>GeoForge Terminal Broker</name>
  <description>Runs low-privilege interactive PTY sessions for human platform administrators.</description>
  <executable>@@PWSH_EXECUTABLE@@</executable>
  <arguments>-NoProfile -NonInteractive -File "@@GEOFORGE_ROOT@@\scripts\run-geoforge-windows-service.ps1" -Component TerminalBroker -EnvironmentFile "@@SERVICE_ENV_FILE@@"</arguments>
  <workingdirectory>@@GEOFORGE_ROOT@@</workingdirectory>
  <startmode>Automatic</startmode>
  <stoptimeout>15sec</stoptimeout>
  <onfailure action="restart" delay="3 sec" />
  <log mode="roll-by-size-time"><sizeThreshold>10240</sizeThreshold><pattern>yyyyMMdd</pattern><autoRollAtTime>00:00:00</autoRollAtTime><zipOlderThanNumDays>7</zipOlderThanNumDays></log>
</service>
